{% assign dates = paginator.posts | group_by_exp: "post",
"post.date | date: '%b %-d, %Y'" %}

{% for date in dates %}
  <time class="date">{{ date.name }}</time>
  {% for item in date.items %}
    {% assign post = item %}
    <article class="post {{ post.collection }}">
      <h2 class="title">
        <a href="{{ post.source | default:post.url }}">
          {{- post.title | smartify | strip -}}
        </a>
        {% if post.source %}
          <small><a href="{{ post.url }}">¶</a></small>
        {% endif %}
      </h2>
      {{ post.content | markdownify }}
    </article>
    {% endfor %}
{% endfor %}
