body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-serif);
  font-feature-settings: "ss02";
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
  line-height: var(--line-height, 1.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
time,
small {
  font-family: var(--font-sans, system-ui, sans-serif);
  font-weight: 450;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-display, 1.2);
}

small {
  color: var(--color-text-muted);
  font-weight: 500;
}

blockquote {
  font-size: var(--font-size-small);
}

a {
  color: var(--color-text-contrast);
  text-decoration: none;
}
p a,
li a {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: var(--color-stroke);
}
p a:hover,
li a:hover {
  text-decoration-color: var(--color-stroke-contrast);
}

em,
cite,
i {
  font-style: italic;
}
strong {
  font-weight: bold;
}

code {
  font-family: "Anonymous Pro", monospace;
  background: var(--color-fill-code);
  border-radius: 5px;
  padding: 1px 6px 2px;
}
pre {
  font-family: "Anonymous Pro", monospace;
  background: var(--color-fill-block);
  border-radius: 5px;
  padding: 1em;
  overflow-x: auto;
}
pre code {
  background: transparent;
  border-radius: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2,
h3 {
  font-size: var(--font-size-title);
  margin: 1em 0;
}
h3 {
  color: var(--color-text-muted);
  font-size: var(--font-size-heading);
  font-weight: 600;
}
p,
h4,
h5,
h6 {
  margin: 1.6em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    border-bottom: 2px solid var(--color-stroke);
  }
  a:hover {
    border-color: var(--color-stroke-contrast);
  }
}

* + h2,
* + h3,
* + h4 {
  margin-top: 2em;
}

blockquote {
  position: relative;
  margin: 1.5em 0;
  padding: 0 0 0 1.5em;
}
blockquote:before,
blockquote:after {
  position: absolute;
  z-index: -1;
  font-size: 4em;
  font-weight: 600;
  line-height: 1;
  color: var(--color-text-decoration);
}
blockquote:before {
  content: "“";
  top: -0.2em;
  left: -0.1em;
}
blockquote:after {
  display: none;
  content: "”";
  bottom: -0.66667em;
  right: -0.2em;
}

blockquote blockquote {
  border-left: 2px solid var(--color-stroke);
}
blockquote blockquote:before,
blockquote blockquote:after {
  display: none;
}

dt {
  font-weight: bold;
}
dd {
  font-family: var(--font-sans);
  font-weight: 450;
}

dd + dt {
  margin-top: 0.8rem;
}

table {
  font-family: var(--font-sans);
  font-weight: 450;
}
th,
td {
  min-width: 12ch;
}
th {
  text-align: left;
}
td {
  vertical-align: top;
}
th + th,
td + td {
  padding-left: 1.6rem;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}

time {
  color: var(--color-text-subtle);
  font-size: var(--font-size-small);
  font-weight: 600;
  line-height: 1;
  margin: 0 0 1em 0;
}
