body {
	border-style: solid;
	border-color: #EEE;
	border-width: 0.5em 0;
	margin: 0 auto;
	min-height: 100vh;
  padding: 2.5rem 1rem;
}

[role=banner] {
	max-width: 42em;
}

[role=banner], main {
	margin: 0 auto;
	padding: 0 1rem;
}

main {
	margin-top: 3em;
}

@media screen and (min-width: 30em) {
	body {
		border-width: 0.5em;
		box-shadow: inset 0 0 0 0.5em #F6F6F6;
		padding: 5rem 1rem;
	}
}
@media screen and (min-width: 48em) {
	body {
		border-width: 1em;
		box-shadow: inset 0 0 0 1em #F6F6F6;
		padding: 7.5rem 1rem;
	}
}
