:root {
  --font-serif: "Source Serif", Georgia, serif;
  --font-sans: "Inter", system-ui, sans-serif;

  --line-height: 1.5;
  --line-height-display: 1.2;

  --measure: 60ch;

  --font-size-small: 1rem;
  --font-size-base: 1.125rem;
  --font-size-heading: 1.25rem;
  --font-size-title: 1.5rem;

  --color-bg: white;

  --color-fill-icon: #222;
  --color-fill-highlight: #eee;
  --color-fill-contrast: #ddd;
  --color-fill-code: #f3f3f3;
  --color-fill-block: #f6f6f6;

  --color-text: #444;
  --color-text-contrast: black;
  --color-text-soft: #888;
  --color-text-muted: #999;
  --color-text-subtle: #bbb;
  --color-text-icon: #ccc;
  --color-text-decoration: #ddd;

  --color-stroke: #eee;
  --color-stroke-contrast: #ddd;
  --color-stroke-frame: #f6f6f6;
  --color-stroke-frame-outer: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #101010;

    --color-fill-icon: #ccc;
    --color-fill-highlight: #222;
    --color-fill-contrast: #333;
    --color-fill-code: #0c0c0c;
    --color-fill-block: #090909;

    --color-text: #ccc;
    --color-text-contrast: #eee;
    --color-text-soft: #999;
    --color-text-muted: #888;
    --color-text-subtle: #666;
    --color-text-icon: #555;
    --color-text-decoration: #333;

    --color-stroke: #333;
    --color-stroke-contrast: #555;
    --color-stroke-frame: #0b0b0b;
    --color-stroke-frame-outer: #070707;
  }
}
