[role="banner"] {
  font-family: var(--font-sans, sans-serif);
  font-weight: 450;
}

[role="banner"] .site-identity a svg {
  width: 32px;
  height: 32px;
  fill: var(--color-fill-icon);
}
[role="banner"] .site-identity a:hover svg {
  fill: var(--color-text-contrast);
}

[role="banner"] .site-title {
  font-family: var(--font-serif, serif);
  display: block;
  font-size: var(--font-size-title);
  font-weight: 550;
  line-height: 1;
  margin: 0;
}
[role="banner"] .site-tagline {
  display: block;
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 1;
  margin: 0.25em 0;
  color: var(--color-text-subtle);
}

[role="banner"] nav {
  display: flex;
  font-size: var(--font-size-small);
  font-weight: 500;
  gap: 0.75em;
  padding: 0.5em 00;
}
[role="banner"] nav a {
  color: var(--color-text);
  position: relative;
}
[role="banner"] nav a:hover {
  color: var(--color-text-contrast);
}
[role="banner"] nav a.active {
  color: var(--color-text-contrast);
}
[role="banner"] nav a::after {
  --radius: 6px;
  content: "";
  display: block;
  position: absolute;
  width: calc(var(--radius) * 2);
  height: var(--radius);
  margin-left: calc(var(--radius) * -1);
  left: 50%;
  background-color: var(--color-stroke);
  border-radius: 0 0 var(--radius) var(--radius);
}
[role="banner"] nav a:hover::after {
  background-color: var(--color-stroke-contrast);
}
[role="banner"] nav a.active::after {
  background-color: currentColor;
}

@media screen and (min-width: 30em) {
  [role="banner"] .site-identity {
    display: flex;
    align-items: center;
  }
  [role="banner"] .site-identity a svg {
    width: 48px;
    height: 48px;
  }
  [role="banner"] .site-name {
    margin-left: 16px;
  }
  [role="banner"] nav {
    gap: 1.5em;
    margin-left: 64px;
  }
}
@media screen and (min-width: 48em) {
  [role="banner"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  [role="banner"] .site-identity a svg {
    width: 64px;
    height: 64px;
  }
  [role="banner"] .site-name {
    margin-left: 32px;
  }
}
