#footer {
	font-family: 'Karla', sans-serif;
	font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
	line-height: 2.5;
	text-align: center;
	color: #CCC;
	margin: 3em 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
#footer a { color: inherit; }
#footer p { margin: 0; }
