.post {
	margin: 0 0 4.5em 0;
}
.post li + li {
	margin-top: 0.25em;
}
.post ul, .post ol {
	margin-left: 0;
	padding-left: 0;
}
.post ul li {
  list-style: none;
	margin-left: 2.2em;
}
.post ul li:before {
	color: #999;
	content: "→";
	font-family: var(--font-sans);
	font-weight: 600;
	position: absolute;
	margin-left: -1.4em;
}
.post ol li {
	margin-left: 2.2em;
	list-style: decimal;
}
.post.pinned {
	clear: both;
	margin-left: 0;
	margin-bottom: 3em;
	background-color: #EEE;
	color: #000;
	padding: 1px 20px 10px;
	border-radius: 5px;
}
.post .title {
	line-height: 1.4;
}
