.steps {
  counter-reset: step;
  font-family: var(--font-serif);
}

.steps th {
  font-family: var(--font-sans);
}

.steps td:first-child {
  counter-increment: step;
  padding-left: 3rem;

  &::before {
    content: counter(step);
    font-family: var(--font-sans);
    float: left;
    margin-left: -3rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    border: solid 2px;
    text-align: center;
    font-weight: 700;
    font-size: smaller;
    line-height: 1.5rem;
  }
}

.steps td {
  padding-top: 0.8rem;
}

@media only screen and (max-width: 40em) {
  /* Force table to not be like tables anymore */
  .steps {
    display: block;
    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead th + th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td + td {
      padding: 0 0 0 3rem;
    }

    /*
  	Label the data
  	*/
    td[title]::before {
      content: attr(title) ': ';
      color: #888;
      font-family: var(--font-sans);
      font-size: smaller;
      font-weight: 600;
    }
  }
}
